<!DOCTYPE html>

<html>

    <head>
        <title>Quotebook of some Weird AE Shitters</title>
        <link href="../css/betterindex.css" rel="stylesheet">
        <script src="../js/index.js"></script>
    </head>


    <body id="body">
        <canvas id="canvas"></canvas>
        <div id ="scrollContainer">
            <div id="topCoverer"></div>
            <div id="scroll"></div>
            <div id="botCoverer"></div>
        </div>
        <div id="quoteroller">
            <div id="bottomBar">
                <div id="searchBox">
                    __________________________________________
                    |                                                                                            |
                    |                                                                                            |
                    ‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾
                </div>
                <div id="search">Consult the Enigmatic Knowledge...</div>
            </div>
            <div class="quoteContainer"></div>
            <div class="quoteContainer">
                <div class="quote">"Lorem ipsum dolor"</div>
                <div class="author">- Some ancient guy</div>
            </div>
            <div class="quoteContainer">
                <div class="quote">"sit amet, consectetur"</div>
                <div class="author">- Some ancient guy</div>
            </div>
            <div class="quoteContainer">
                <div class="quote">"adipiscing elit. Nulla"</div>
                <div class="author">- Some ancient guy</div>
            </div>
            <div class="quoteContainer">
                <div class="quote">"consequat mauris aliquet,"</div>
                <div class="author">- Some ancient guy</div>
            </div>
            <div class="quoteContainer">
                <div class="quote">"aliquet odio quis,"</div>
                <div class="author">- Some ancient guy</div>
            </div>
            <div class="quoteContainer"></div>
        </div>
        <div id="addQuote">
            <div>Upon the fateful date of </div>
            <div id="date">.....</div>
            <div> our Compatriot  </div>
            <div id="sayer">.....</div>
            <div> spoketh aloud the following: </div>
            <div id="quoteToAdd">.....</div>
            <div id="confirm">and Thus shall it be inked forevermore.</div>
            <div id="confirmBox">__________________________________
|                                                                          |
|                                                                          |
‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾</div>
        </div>
        
    </body>

</html>