<!DOCTYPE html>


<html>

    <head>
        <title>Quotebook of some Weird AE Shitters</title>
        <link href="../css/index.css" rel="stylesheet"> 
    </head>


    <body>

        <div class="sidebar-wrapper">

            <p>Search</p>

            <form action="/" method="GET">
                <input type="text" name="search" placeholder="Currently: {{ .TotalSearch }}">
                <button type="submit">
                    Go!
                </button>
            </form>

            <br><br>
            <p>Add Quote<p>
            <form action="/updates/" method="POST">
                <input required maxlength=512 type="text" name="Quote" placeholder="Quote here...">
                <input required type="date" name="Date">
                <input required maxlength=50 type="text" name="Sayer" placeholder="Sayer...">
                <button type="submit">
                    Add!
                </button>
            </form>

        </div>

        <div class="content-wrapper">
            {{ range .Quotes }}
            <div class="quote-wrapper">
                <p class="quote-text"> {{ .Quote }} </p>
                <p class="quote-date"> {{ .Date }} </p>
                <p class="quote-author">Sayer> {{ .Sayer }} </p>
            </div>
            {{ end }}

            <div class="pagination-wrapper">
                {{ range .Pagination }}
                    <form action="/" method="GET">
                        <input style="display: none" name="page" value="{{ .Page }}">
                        <input style="display: none" name="search" value="{{ .Search }}">
                        <button class="pagination-button" type="submit">{{ .Page }}</button>
                    </form>
                {{ end }}
            </div>
        </div>
    </body>

</html>
