<!DOCTYPE html>


<html>

    <head>
        <title>Quotebook of some Weird AE Shitters</title>
        <link href="../css/index.css" rel="stylesheet"> 
        <link href="static/css/index.css" rel="stylesheet"> 
    </head>


    <body>

        <div class="sidebar-wrapper">

            <p>Search</p>

            <form action="">
                <input type="text" placeholder="Search here mf...">
                <button type="submit">
                    Go!
                </button>
            </form>

        </div>

        <!--
        <div class="quote-wrapper">
            <p class="quote-text">Here is the body of the quote.</p>
            <p class="quote-date">lolcat/lolcat/2023</p>
            <p class="quote-author">Sayer> Probably Sheepfucker</p>
        </div>
        -->
    </body>

</html>
