<!DOCTYPE html>


<html>

    <head>
        <title>Quotebook of some Weird AE Shitters</title>
        <link href="../css/index.css" rel="stylesheet"> 
        <link href="static/css/index.css" rel="stylesheet"> 
    </head>


    <body>

        <div class="sidebar-wrapper">

            <p>Search</p>

            <form action="/" method="GET">
                <input type="text" name="search" placeholder="Search here mf...">
                <button type="submit">
                    Go!
                </button>
            </form>

            <br><br>
            <p>Add Quote<p>
            <form action="/updates/" method="POST">
                <input type="text" name="Quote" placeholder="Quote here...">
                <input type="date" name="Date">
                <input type="text" name="Sayer" placeholder="Sayer...">
                <button type="submit">
                    Add!
                </button>
            </form>

        </div>

        {{ range .Quotes }}
        <div class="quote-wrapper">
            <p class="quote-text"> {{ .Quote }} </p>
            <p class="quote-date"> {{ .Date }} </p>
            <p class="quote-author">Sayer> {{ .Sayer }} </p>
        </div>
        {{ end }}
    </body>

</html>
