:root {
    --green: #88c070;
    --background: #303030;
    --dark-red: #490F0F;
}

* {
    margin: 0;
    padding: 0;
    /* font-size: 1.5vmin; */
}

@font-face {
    font-family: seagram;
    src: url(fonts/Seagram\ tfb.ttf);
}

body {
    width: 100%;
    min-height: 100vh;

    background-color: var(--background);
    color: var(--green);
    font-family: seagram;
    display: flex;
}

#canvas {
    display: none;
}

#scrollContainer {
    font-family: Calibri;
    position: fixed;
    top: 50%;
    left: 50%;
    width: 95%;
    height: 95%;
    transform: translate(-50%, -50%);
    z-index: 69;
    pointer-events: none;
}

#scroll {
    white-space: pre;
    z-index: 69;
    position: relative;
    user-select: none;
    font-size: 1vw;
}

#topCoverer {
    background-color: var(--background);
    width: 100%;
    height: 4.1em;
    transform: translate(0, -2.7em);
    z-index: 68;
    position: fixed;
}

#botCoverer {
    background-color: var(--background);
    width: 100%;
    height: 100%;
    transform: translate(0, -2.5em);
    z-index: 68;
    position: relative;
}

#quoteroller{
    z-index: 67;
    position: relative;
    padding-left: 35%;
    width: 100vw;
    height: 100vh;
    overflow: auto;
    scroll-snap-type: y proximity;
    scroll-behavior: smooth !important;
}

.quoteContainer {
    height: 17.6vh;
    font-size: 2vmin;
    display: flex;
    flex-direction: row;
    scroll-snap-align: center;
    scroll-snap-stop: normal;
}

.quoteContainer:first-child {
    margin-top: 50vh;
}

.quoteContainer:last-child {
    margin-bottom: 50vh;
}

.quote {
    width: fit-content;
}

.author {
    font-size: 1.5vmin;
    position: relative;
    top: 13%;
}

#bottomBar {
    position: fixed;
    width: inherit;
    height: fit-content;
    bottom: -16em;
    font-family: Calibri;
    white-space: pre;
    text-align: center;
    z-index: 68;
    font-size: 1.5vmin;
}

#search {
    left: -5em;
    top: -10.2em;
    white-space: normal;
    position: relative;
    font-family: seagram;
    background-color: var(--background);
    padding-bottom: 10%;
    padding-top: 0.75%;
    width: inherit;
    z-index: 70;
}

#searchInner {
    position: relative;
    line-height: 0.5em;
    padding: 0.5%;
    width: 15%;
    border: none;
    font-size: 1em;
    left: 1em;
    bottom: 0.3em;
    background-color: inherit;
    font-family: inherit;
    color: inherit;
}

#searchBox {
    left: -5em;
    top: -2.5em;
    position: relative;
    z-index: 71;
    pointer-events: none;
}

#addQuote {
    display: flex;
    flex-direction: column;
    position: fixed;
    z-index: 67;
    white-space: pre;
    right: 8%;
    top: 7%;
    font-size: 2vmin;
    align-items: center;
}

#confirm {
    position: relative;
    top: 2em;
    z-index: 1;
}

#confirmBox {
    font-family: Calibri;
    white-space: pre;
    position: relative;
    top: -1em;
    text-align: center;
    cursor: pointer;
    border: none;
    background-color: transparent;
    color: inherit;
    z-index: 2;
    font-size: inherit;
}

#date, #sayer, #quoteToAdd{
    font-size: inherit;
    font-family: inherit;
    color: inherit;
    width: fit-content;
    border: none;
    background-color: var(--background);
    text-align: center;
}

#quoteOfDayContainer {
    top: 3%;
    left: 5%;
    position: fixed;
    font-size: 2vmin;
    white-space: pre;
    text-align: start;
}

#quoteOfDay {
    margin-left: 10%;
}

#mobileCoverer {
    display: none;
}

#divider {
    display: none;
}

@media only screen and (orientation: portrait) {
    #quoteOfDayContainer {
        left: 23vw;
        font-size: 1.5rem;
        top: 0rem;
    }

    #addQuote {
        top: 18rem;
        left: 10vw;
        font-size: 1.5rem;
    }

    #quoteroller {
        padding-top: 10rem;
        scroll-padding-top: 80%;
        padding-left: 4rem;
        z-index: 66;
        height: 75vh;
    }

    #scroll {
        font-size: 0.8rem;
    }

    #bottomBar {
        bottom: -13em;
        left: 3em;
        font-size: 1.2rem;
    }

    #mobileCoverer {
        width: 100%;
        height: 39em;
        background-color: var(--background);
        position: fixed;
        top: 0em;
        display: block;
        z-index: 67;
        pointer-events: none;
    }

    #quoteOfDayContainer {
        z-index: 68;
    }

    .quoteContainer {
        height: 10vh;
    }

    .quoteContainer:first-child {
        margin-top: 70vh;
    }
    
    .quoteContainer:last-child {
        margin-bottom: 20vh;
    }

    #search {
        bottom: -8.5em;
        padding-bottom: 9%;
    }

    #searchBox {
        top: -3.5em;
    }

    #searchInner {
        left: 1em;
        width: 40%;
    }

    #divider {
        background-color: var(--green);
        margin-left: auto;
        margin-right: auto;
        width: 40em;
        margin-left: 4em;
        height: 2px;
        position: fixed;
        display: block;
        top: 16.5em;
        z-index: 68;
    }
}